texconv.exe
yabber/

!yapped/

yapped/*
!yapped/Paramdex

yapped/Paramdex/*
!yapped/Paramdex/ER

yapped/Paramdex/ER/*
!yapped/Paramdex/ER/Names/

yapped/Paramdex/ER/Names/*

!yapped/Paramdex/ER/Names/EquipParamAccessory.txt
!yapped/Paramdex/ER/Names/EquipParamGem.txt
!yapped/Paramdex/ER/Names/EquipParamGoods.txt
!yapped/Paramdex/ER/Names/EquipParamProtector.txt
!yapped/Paramdex/ER/Names/EquipParamWeapon.txt
!yapped/Paramdex/ER/Names/Magic.txt
!yapped/Paramdex/ER/Names/SwordArtsParam.txt

dcx/
dds/
node_modules/